body{
    background: rgb(206, 14, 14);
    
}
section{
    padding: 50px 30px 20px 60px;
    margin-left: 40px;
}
section article{
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
}
section article p{
    line-height: 2;
}